{% extends "dojo/layout.html" %}

{% block title %}
    {% load bootstrap3 %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Post Form</h1>
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>



{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <form action="" method="post" class="form-horizontal">#}
{#                    <legend>Post Form</legend>#}
{#                    {% csrf_token %}#}
{##}
{#                    {% for error in form.non_field_errors %}#}
{#                        <div class="alert alert-danger">#}
{#                            {{ error }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <!-- hidden fields는 위젯만 렌더링 -->#}
{#                    {% for field in form.hidden_fields %}#}
{#                        {{ field }}#}
{#                    {% endfor %}#}
{##}
{#                    <!-- visible fields는 모든 요소 렌더링 -->#}
{#                    {% for field in form.visible_fields %}#}
{#                        <div class="form-group">#}
{#                            {{ field.label_tag }}#}
{#                            <div class="col-sm-10">#}
{#                                {{ field }}#}
{#                                {% if field.help_text %}#}
{#                                    <p class="help-block">{{ field.help_text }}</p>#}
{#                                {% endif %}#}
{#                                {% for error in field.errors %}#}
{#                                    <div class="alert alert-danger">#}
{#                                        {{ error }}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <input type="submit" class="btn btn-primary" />#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script>
        $(function() {
            let dom = document.getElementById('{{ form.user_agent.id_for_label }}');
            dom.value = navigator.userAgent;
        });
    </script>
{% endblock %}